<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather Search</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class ="search-h1">Get Weather Results!</h1>
  <form action="/forecast" method="get" class="search-box">
    <input type="text" name="q" placeholder="Enter a location..." required>
    <button type="submit" class="search-button">SEARCH</button>
  </form>
</body>
</html>